@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
#input-background-container{
    background: linear-gradient(45deg, #4720b3, #575656, #b6014c, #7a003a);
    background-size: 300% 300%;
    animation: color 20s ease-in-out infinite;
    height: 100vh;
}

.select-module-restriction {
    max-height: 150px;
    overflow-y: auto;
}

.user-modules {
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(180, 180, 180, 0.8);
}

#top-listgroup {
    font-weight: bold;
}

#fixed-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-container{
    /* With assistance from https://css.glass */
    background: rgba(180, 180, 180, 0.5);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(180, 180, 180, 0.8);

}

#login-container img {
    width: fit-content;
    display: flex;
    align-items: center;
}

#login-container h1 {
    font-size: 2rem;
    font-weight: bold;
}

#login-container h3 {
    font-size: 1.5rem;
}

.navbar {
    background: rgba(180, 180, 180, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(180, 180, 180, 0.8);
}

#portal {
    width: 85%;
}

h1 {
    font-size: 1.5vw;
}

h3 {
    font-size: 1vw;
}

.shift_right {
    position: relative;
    left: 20px;
}

.shift_left {
    position: relative;
    right: 20px;
}

#index-home-container {
    /*background: #4720b3;*/
    height: calc(100vh - 91.33px);
    min-width: 100vw;
    background: white;
}

#index-side-container, #module-controls {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(190, 0, 91, 0.58);
}

#analytics-control-main {
    background-color: rgba(182, 1, 76, 0.9);
    color: white;
}

#analytics-control-secondary {
    background-color: rgb(135, 135, 135);
}

#ulcmname {
    max-height: 60vh;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#analytics-data-container {
    height: calc(100vh - 149.458px);
    width: 100vw;
}

#selectContainer {
    width: 50vw;
    background-color: rgba(190, 0, 91, 0.13);
    padding: 1vw;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

body {
    overflow-x: hidden;
}

/* Spinner via https://www.youtube.com/watch?v=q76TexbMXJg Tutorial */

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0.75s, visibility 0.75s;
}

.spinner-hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner::after {
    content: "";
    width: 85px;
    height: 85px;
    border: 15px solid rgba(255, 255, 255);
    border-top-color: #b6014c;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

